<!DOCTYPE html>
<html>
<head>
<title>curvature_{{ date_str }}</title>
<style>
.display-table {
    display: table;
}
.display-table > div {
    display: table-row;
}
.display-table > div > div {
    display: table-cell;
    padding: 5px;
    border: 1px solid black;
    vertical-align: top;
}
</style>
</head>
<body>

<H1>{{ project_name }} - curvature descriptor report</H1>
<div>date: {{ today }}</div>

<h2>Parameters</div>
{{ params }}

<h2>Individual specimens analysis</h2>
<div class="display-table">
  <div>
    <div>#</div>
    <div>name</div>
    <div>age</div>
    <div>sampled_dne</div>
{% if params['eval_pervertex_ariadne'] %}
    <div>ariadne</div>
    <div>clean_ariadne</div>
    <div>ariadne_max</div>
{% endif %}
    <div>dne_local_map</div>
  </div>

{% for row in table %}
  <div>
    <div>{{ loop.index }}</div>
    <div>{{ row['basename'] }}</div>
    <div>{{ row['age'] }}</div>
    <div>{{ "%.5f"|format(row['sampled_dne']| float) }}</div>
{% if params['eval_pervertex_ariadne'] %}
    <div>{{ "%.5f"|format(row['ariadne']| float) }}</div>
    <div>{{ "%.5f"|format(row['clean_ariadne']| float) }}</div>
    <div>{{ "%.5f"|format(row['ariadne_max']| float) }}</div>
{% endif %}
    {% for img in row['images'] %}
    <div>
      <a href="{{ img }}"><img class='specimen' height='100px' src="{{ img }}"/></a>
    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>

<h2>Descriptor - age relation</h2>
{% if params['eval_pervertex_ariadne'] %}
<div>
  <img src="{{ariadne_by_age}}"/></br>
  AriaDNE: Scatterplot of {{ table|length }} specimens ("randomly" selected). Age on x-axis, AriaDNE values on y-axis.
</div>
{% endif %}

<div>
  <img src="{{sampled_dne_by_age}}"/></br>
  Sampled DNE: Scatterplot of {{ table|length }} specimens ("randomly" selected). Age on x-axis, SampledDNE on y-axis.
</div>

<h2>Model statistics</h3>

<div class="display-table">
  <div>
    <div>#</div>
    <div>descriptors</div>
    <div>subset</div>
    <div>rmse</div>
    <div>bias</div>
    <div>inaccuracy</div>
    <div>pvalue</div>
  </div>
  {% for model in analysis_result['model_results'] %}
    <div>
      <div>{{ loop.index }}</div>
      <div>{{ model['indep'] }}</div>
      <div>{{ model['subset'] }}</div>
      <div>{{ "%.5f"|format(model['rmse']| float) }}</div>
      <div>{{ "%.5f"|format(model['bias']| float) }}</div>
      <div>{{ "%.5f"|format(model['inaccuracy']| float) }}</div>
      <div>{{ model['pvalue'] }}</div>
    </div>
  {% endfor %}
</div>

</body>
</html>
